body{
  background: no-repeat url(../fotos/fondoindice.jpg);
  background-position: center;
  height: 100vh;
  background-size: 100% 100%;
}

.memato{
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 3%;
}